.udemyCarousel{
    background-image: url(../../img/cover.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 100%;
    margin: 0;
    @include styleText($color-gray-3,$fs-2,$fw-normal);
    height: 500px;
    h3{
        @include styleText($color-gray-5,$fs-4,$fw-bold);

    }
    .udemyCarousel__details{
            padding: 10rem 5rem;
    }
    .udemyCarousel__learn__form{
        position: relative;
        input{
            @include styleButton(white,black,$border-radius-2 ,$pd-2,16px);
            width: 100%;
            &:focus{
                // border: none;
                outline: none;
            }
        }
        button{
            position: absolute;
           right: 0;
           top: 0;
            @include styleButton(white,white,$border-radius,$pd-2,$pd-2);
            border-top: solid 1px black;
            border-bottom: solid 1px black;
            color: #ec5252;
            &:hover{
                background-color: #ec5252;
                color: white;
                // border: none;
            }

        }
    }

    

}